
{% extends "ProyectoWebAC/baseII.html" %}

{% load static %}

{% load widget_tweaks %} <!--Biblioteca django formulario-->

{% block content %} 

<!--Head-->
<title>Cierre de caja</title>
<section>
    <header>
      <div class="container my-4">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Cierres' %}">Arqueo de caja (+)</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link active" href="#">Busqueda (#)</a>
          </li>
        </ul>
      </div>

      <div class="container-lg my-2">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th style="text-align:start;">
                <form action="buscar_fecha" method="get" autocomplete="off">
                  {% csrf_token %}
                  <label>Fecha de cierre:</label>&nbsp;
                  <input type="date" name="registro" required>&nbsp;
                  <button type="submit" class="btn btn-outline-info" style="padding-left: 20px;">Buscar</button>
                </form>
              </th>
       
              <th style="text-align:center;">
                <form action="buscar_codigo" method="get" autocomplete="off">
                  {% csrf_token %}
                  <label>N° Arqueo:</label>&nbsp;
                  <input type="text" name="registro" placeholder="N° arqueo" style="width: 150px;" required>&nbsp;
                  <button type="submit" class="btn btn-outline-info" style="padding-left: 20px;">Buscar</button>
              </form>
              </th>

              <th style="text-align:end;">
                <form action="buscar_codigo" method="get" autocomplete="off">
                  {% csrf_token %}
                  <label>N° Caja:</label>&nbsp;
                  <input type="text" name="registro" placeholder="N° caja" style="width: 150px;" required>&nbsp;
                  <button type="submit" class="btn btn-outline-info" style="padding-left: 20px;">Buscar</button>
              </form>
              </th>
            </tr>
          </thead>
        </table>
      </div>

      <div class="container">
        <ul class="nav nav-tabs my-3">
          <li class="nav-item">
            <a class="nav-link active" href="#">Registros:</a>
          </li>
        </ul>
      </div>

      <div class="container-lg my-3">
        <table class="table table-bordered table-responsive">
          <thead>
            <tr id="identificador">
              <th width="10%">Fecha</th>
              <th width="10%">N° Arqueo</th>
              <th width="10%">N° Caja</th>
              <th width="15%">Tasa ($)</th>
              <th width="15%">Tasa (E)</th>
              <th width="20%">Total cierre contable ($)</th>
            </tr>
          </thead>
          <!-- Recorremos los registros de la tabla arqueo -->
          {% for arqueo in object_list %}  
              <tr>
                <th width="10%">{{arqueo.created}}</th>
                <td width="10%"><a href="detalle/{{arqueo.id}}" title="Detalle">{{arqueo.id}}</a></td>
                <td  width="10%">{{arqueo.caja}}</td>
                <td  width="15%">{{arqueo.tasaDolar}}</td>
                <td  width="15%">{{arqueo.tasaEuro}}</td>
                <td  width="20%">{{arqueo.cierre}}</td>
              </tr>
          {% endfor %}
        </table>
      </div>
  </header>
</section>
{% endblock %}