
{% extends "ProyectoWebAC/baseII.html" %}

{% load static %}

{% load widget_tweaks %} <!--Biblioteca django formulario-->

{% block content %} 

<!--Head-->
<title>Arqueo de caja</title>
<section>
    <header>
      <div class="container">
        <ul class="nav nav-tabs my-3">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Cierres' %}">Arqueo de caja (+)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Buscar' %}">Buscar (#)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Detalles</a>
          </li>
        </ul>
      </div>

      <div class="container btn_crear my-1" align="end" >
        <a href="{% url 'Buscar' %}" title="Editar" type="button" class="btn  btn-outline-warning">Volver</a>
      </div>

      <div class="container-lg">
        <form> 
           <div class="form-group row my-2" style="text-align:end;">
            <label for="created" class="col-sm-1 col-form-label" id="etiqueta" >Fecha:</label>
             <div class="col-sm-1">
                 <input type="text" class="form-control" value="{{object.created}}" style="width: 150px"; readonly>
             </div>

             <label for="codigo_arqueo" class="col-sm-2 col-form-label" id="etiqueta" >Arqueo n°:</label>
             <div class="col-sm-1">
                 <input type="text" class="form-control" value="{{object.id}}" readonly>
             </div>

             <label for="codigo_caja" class="col-sm-2 col-form-label" id="etiqueta" >Caja n°:</label>
             <div class="col-sm-1">
                 <input type="text" class="form-control" value="{{object.caja}}" readonly>
             </div>
           </div>
         
           <div class="container-lg" id="identificador">
             <label>Tasas de cambio</label>
           </div>
   
           <div class="form-group row my-3" style="text-align: end;">
             <label for="tasaDivisa" class="col-sm-4 col-form-label" id="etiqueta" >Tasa Dolar ($):</label>
             <div class="col-sm-2">
                 <input type="text" class="form-control" value="{{object.tasaDivisa.tasa_usd}}" readonly>
             </div>
   
             <label for="tasaDivisa" class="col-sm-2 col-form-label" id="etiqueta" >Tasa Euro (€):</label>
             <div class="col-sm-2">
                 <input type="text" class="form-control" value="{{object.tasaDivisa.tasa_eur}}" readonly>
             </div>
           </div>

        <div class="container-lg" id="identificador">
          <label id="subtitulo">Ingresos y Transacciones:</label>
        </div>

        <!--Formas de pagos-->

        <table  class="table table-bordered my-3" id="table">
          <thead>
            <tr>
              <th width="22%"><label>Monedas</label></th>
              <th width="12%"><label>Efectivo</label></th>
              <th width="12%"><label>Débito</label></th>
              <th width="12%"><label>Crédito</label></th>
              <th width="12%"><label>Transferencia</label></th>
              <th width="12%"><label>Pago móvil</label></th>
              <th width="18%"><label>Total</label></th>
            </tr>
          </thead>
  
            <!-- Ingresos en Bolívares -->
            <tr>
              <th><label>Bolívares (Bs):</label></th>
              <td><input type="text" class="form-control" value="{{object.ef_bs}}" readonly></td>
              <td><input type="text" class="form-control" value="{{object.td_bs}}" readonly></td>
              <td><input type="text" class="form-control" value="{{object.tc_bs}}" readonly></td>
              <td><input type="text" class="form-control" value="{{object.tr_bs}}" readonly></td>
              <td><input type="text" class="form-control" value="{{object.pm_bs}}" readonly></td>
              <th><input type="text" class="form-control" value="{{object.ti_bs}}" readonly style="width: 200px;"></th>
            </tr>
  
            <!-- Ingresos en Dólares -->
            <tr>
              <th><label>Dólares ($):</label></th>
              <td><input type="text" class="form-control" value="{{object.ef_usd}}" readonly></td>
              <td><label></label></td>
              <td><input type="text" class="form-control" value="{{object.tc_usd}}" readonly></td>
              <td><label></label></td>
              <td><label></label></td>
              <th><input type="text" class="form-control" value="{{object.ti_usd}}" readonly style="width: 200px;"></th>
             </tr>
  
            <!-- Ingresos en Euros -->
            <tr>
              <th><label>Euros (E):</label></th>
              <td><input type="text" class="form-control" value="{{object.ef_eur}}" readonly></td>
              <td><label></label></td>
              <td><label></label></td>
              <td><label></label></td>
              <td><label></label></td>
              <th><input type="text" class="form-control" value="{{object.ti_eur}}" readonly style="width: 200px;"></th>
            </tr>
  
            <!-- Ingresos en Zelle -->
            <tr>
              <th><label>Zelle ($):</label></th>
              <td><label></label></td>
              <td><label></label></td>
              <td><label></label></td>
              <td><input type="text" class="form-control" value="{{object.tr_zll}}" readonly></td>
              <td><label></label></td>
              <th><input type="text" class="form-control" value="{{object.ti_zll}}" readonly style="width: 200px;"></th>
            </tr>
        </table>

          <div class="container-lg" id="identificador">
            <label>Ingresos en Caja</label>
          </div>

          <div class="form-group row my-3" style="text-align: end;">
            <label for="ti" class="col-sm-2 col-form-label" id="etiqueta">Fondo inicial ($):</label>
              <div class="col-sm-2">
                  <input type="text" class="form-control" value="{{object.fi}}" style="width: 180px;" readonly>
              </div>

            <label for="ti" class="col-sm-2 col-form-label" id="etiqueta">Total Ingresos/ (Bs):</label>
            <div class="col-sm-1">
                <input type="text" class="form-control" value="{{object.vn_bs}}" style="width: 180px;" readonly>
            </div>
          
            <label for="vn_usd" class="col-sm-2 col-form-label" id="etiqueta" >/ Usd ($):</label>
            <div class="col-sm-1">
              <input type="text" class="form-control" value="{{object.vn_usd}}"  style="width: 180px;" readonly>
            </div>
          </div>

          <div class="container-lg" id="identificador">
            <label>Gestión Administrativa</label>
          </div>

          <div class="container-lg">
            <div class="form-group row my-3" style="text-align:end;"> 
              <label for="sg" class="col-sm-2 col-form-label" id="etiqueta">Gastos ($):</label>
              <div class="col-sm-2">
                  <input type="text" class="form-control" value="{{object.gt}}" readonly>
              </div>
  
              <label for="dv" class="col-sm-2 col-form-label" id="etiqueta">Devolución ($):</label>
              <div class="col-sm-2">
                  <input type="text" class="form-control" value="{{object.dv}}" readonly>
              </div>

              <label for="dt" class="col-sm-2 col-form-label" id="etiqueta">Descuentos ($):</label>
              <div class="col-sm-2">
                  <input type="text" class="form-control" value="{{object.dt}}" readonly>
              </div>
            </div>
  
            <div class="form-group row my-3" style="text-align:end;">
              <label for="nota" class="col-sm-1 col-form-label" id="etiqueta">Nota:</label>
              <div class="col-sm-2">
                  <input type="text" style="width: 580%;" class="form-control" value="{{object.nota}}" readonly>
              </div>
            </div>
          </div>

          <div class="container-lg" id="identificador">
            <label>Resultados de la conciliación</label>
          </div>

          <div class="form-group row my-3" style="text-align: end;">
  
            <label for="df" class="col-sm-4 col-form-label" id="etiqueta">Diferencia ($):</label>
            <div class="col-sm-2">
              <input type="text" class="form-control" value="{{object.df}}" readonly>
            </div>
  
            <label for="cierre" class="col-sm-2 col-form-label" id="etiqueta">Total cierre ($):</label>
            <div class="col-sm-2">
              <input type="text" class="form-control" value="{{object.cierre}}" readonly>
            </div>
          </div>      
      </div>
    </header>
</section>
{% endblock %}