
{% extends "ProyectoWebAC/baseII.html" %}

{% load static %}

{% load widget_tweaks %} <!--Biblioteca django formulario-->

{% block content %} 

<!--Head-->
<title>Cierre de caja</title>
<section>
    <header>
      <div class="container">
        <ul class="nav nav-tabs my-3">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Cierres' %}">Arqueo de caja (+)</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Busqueda (#)</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" href="#">Resultados:</a>
          </li>
        </ul>
      </div>

      <div class="container">
        <ul class="nav nav-tabs my-3">
          <li class="nav-item">
            <a class="nav-link active" href="#">Indice:</a>
          </li>
        </ul>
      </div>

      <div class="container-lg">
          <table class="table table-responsive my-3">
            <thead>
              <tr id="identificador">
                <th width="20%">Fecha de cierre</th>
                <th width="15%">N° Arqueo</th>
                <th width="15%">N° Caja</th>
                <th width="20%">Total cierre contable ($)</th>
                <th width="20%">Opciones</th>

              </tr>
            </thead>
            
            <!-- Recorremos los registros de la tabla arqueo -->
            {% for Arqueo in Arqueos %}   
            <tr>
              <td>{{Arqueo.created}}</td>
              <td>{{Arqueo.id}}</td>
              <td>{{Arqueo.caja}}</td>
              <td>{{Arqueo.cierre}}</td>
              <td>
                <a href="detalle/{{Arqueo.id}}" title="Detalle" type="button" class="btn btn-outline-info">Ver </a>
                <a href="#" title="Editar" type="button" class="btn btn-primary">Editar </a>
              </td>
            </tr>
        {% endfor %}
          </table>
      </div>
    </header>
</section>
{% endblock %}