
{% extends "ProyectoWebAC/baseII.html" %}

{% load static %}

{% load widget_tweaks %} <!--Biblioteca django formulario-->

{% block content %} 

<!--Head-->
<title>Arqueo de caja</title>
<section>
  <header>
    <div class="container">
      <ul class="nav nav-tabs my-3">
        <li class="nav-item">
          <a class="nav-link active" href="#">Arqueo de caja (+)</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="buscar">Busqueda (#)</a>
        </li>
      </ul>
    </div>

    <div class="container-lg">
     <form method="post" enctype="multipart/form-data" autocomplete="off">
        <!-- Token de seguridad para poder crear un nuevo registro -->
        {% csrf_token %}

        <div class="form-group row my-3" style="text-align: end;">
          <label for="created" class="col-sm-10 col-form-label" id="etiqueta" >Fecha:</label>
          <div class="col-sm-2">
              <input type="date" class="form-control" id="created" value="created" style="width: 150px"; required>
          </div>
        </div>
      
        <div class="container-lg" id="identificador">
          <label>Caja y Tasas</label>
        </div>

        <div class="form-group row my-3" style="text-align: end;">
          <label for="codigo_caja" class="col-sm-2 col-form-label" id="etiqueta" >Caja:</label>
          <div class="col-sm-2">
              <input type="text" class="form-control" value="{{object.codigo_caja}}" required>
          </div>

          <label for="tasa_usd" class="col-sm-2 col-form-label" id="etiqueta" >Tasa Dolar ($):</label>
          <div class="col-sm-2">
              <input type="text" class="form-control" id="form.tasa_usd" readonly>
          </div>

          <label for="tasa_eur" class="col-sm-2 col-form-label" id="etiqueta" >Tasa Euro (E):</label>
          <div class="col-sm-2">
              <input type="text" class="form-control" id="form.tasa_eur" readonly>
          </div>
        </div>
  

      <div class="container-lg" id="identificador">
        <label>EFECTIVO Y TRANSACCIONES</label>
      </div>

      <!--Formas de pagos-->

      <table  class="table table-bordered table-hover my-3">
        <thead>
          <tr class="bg-secondary">
            <th width="14%"><label class="txt_negrita">Monedas</label></th>
            <th width="15%"><label class="txt_negrita">Efectivo</label></th>
            <th width="15%"><label class="txt_negrita">Débito</label></th>
            <th width="15%"><label class="txt_negrita">Crédito</label></th>
            <th width="15%"><label class="txt_negrita">Transferencia</label></th>
            <th width="15%"><label class="txt_negrita">Pago móvil</label></th>
            <th width="15%"><label class="txt_negrita">Total</label></th>
          </tr>
        </thead>

          <!-- Ingresos en Bolívares -->
          <tr>
            <th class="bg-secondary"><label>Bolívares (Bs):</label></th>
            <td width="15%"><input type="text" class="form-control" id="form.ef_bs" required></td>
            <td width="15%"><input type="text" class="form-control" id="form.td_bs" required></td>
            <td width="15%"><input type="text" class="form-control" id="form.tc_bs" required></td>
            <td width="15%"><input type="text" class="form-control" id="form.tr_bs" required></td>
            <td width="15%"><input type="text" class="form-control" id="form.pm_bs" required></td>
            <td class="bg-secondary" width="15%"><input type="text" class="form-control" id="form.ti_bs" readonly></td>
          </tr>

          <!-- Ingresos en Dólares -->
          <tr>
            <th class="bg-secondary"><label>Dólares ($):</label></th>
            <td width="15%"><input type="text" class="form-control" id="form.ef_usd" required></td>
            <td  width="15%"><input type="text" class="form-control" id="form.td_usd" required></td>
            <td class="bg-secondary" width="15%"><label></label></td>
            <td class="bg-secondary" width="15%"><label></label></td>
            <td class="bg-secondary" width="15%"><label></label></td>
            <td class="bg-secondary" width="15%"><input type="text" class="form-control" id="form.ti_usd" readonly></td>
           </tr>

          <!-- Ingresos en Euros -->
          <tr>
            <th class="bg-secondary"><label>Euros (E):</label></th>
            <td width="15%"> <input type="text" class="form-control" id="form.ef_eur" required></td>
            <td class="bg-secondary" width="15%"><label></label></td>
            <td class="bg-secondary" width="15%"><label></label></td>
            <td class="bg-secondary" width="15%"><label></label></td>
            <td class="bg-secondary" width="15%"><label></label></td>
            <td class="bg-secondary" width="15%"> <input type="text" class="form-control" id="form.ti_eur" readonly></td>
          </tr>

          <!-- Ingresos en Zelle -->
          <tr>
            <th class="bg-secondary"><label>Zelle ($):</label></th>
            <td class="bg-secondary" width="15%"><label></label></td>
            <td class="bg-secondary" width="15%"><label></label></td>
            <td class="bg-secondary" width="15%"><label></label></td>
            <td width="15%">  <input type="text" class="form-control" id="form.tr_zll" required></td>
            <td class="bg-secondary" width="15%"><label></label></td>
            <td class="bg-secondary" width="15%">  <input type="text" class="form-control" id="form.ti_zll" readonly></td>
          </tr>
      </table>

        <div class="container-lg" id="identificador">
          <label>Ventas Neta</label>
        </div>

        <div class="form-group row my-3" style="text-align: end;">
          <label for="ti" class="col-sm-4 col-form-label" id="etiqueta">Total venta neta ($):</label>
          <div class="col-sm-1">
              <input type="text" class="form-control" id="form.ti" readonly>
          </div>
        
          <label for="ti" class="col-sm-3 col-form-label" id="etiqueta" >Total venta neta (Bs):</label>
          <div class="col-sm-1">
            <input type="text" class="form-control" id="form.ti" readonly>
          </div>
        </div>

        <div class="container-lg" id="identificador">
          <label>Gestión Administrativa</label>
        </div>

        <div class="container-lg">
          <div class="form-group row my-3" style="text-align:end;"> 
            <label for="ti" class="col-sm-2 col-form-label" id="etiqueta">Fondo inicial:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="form.ti" required>
            </div>

            <label for="sg" class="col-sm-2 col-form-label" id="etiqueta">Gastos:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="form.sg" required>
            </div>

            <label for="dv" class="col-sm-2 col-form-label" id="etiqueta">Devolución:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="form.dv" required>
            </div>
          </div>

          <div class="form-group row my-3" style="text-align:end;">
            <label for="dt" class="col-sm-2 col-form-label" id="etiqueta">Descuentos:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="form.dt" required>
            </div>
            <label for="nota" class="col-sm-2 col-form-label" id="etiqueta">Nota:</label>
            <div class="col-sm-2">
                <input type="text" style="width: 330%;" class="form-control" id="form.nota">
            </div>
          </div>
        </div>

        <div class="container-lg" id="identificador">
          <label>Resultados del cierre</label>
        </div>

        <div class="form-group row my-3" style="text-align: end;">
          <label for="ft" class="col-sm-2 col-form-label" id="etiqueta">Faltante:</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" id="form.ft" readonly>
          </div>

          <label for="st" class="col-sm-2 col-form-label" id="etiqueta">Sobrante:</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" id="form.st" readonly>
          </div>

          <label for="cierre" class="col-sm-2 col-form-label" id="etiqueta">Total cierre contable:</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" id="form.cierre" readonly>
          </div>
        </div>

        <div class="container-lg" id="identificador">
          <label>Opciones</label>
        </div>

        <div class="form-group row my-3" style="text-align: end;">
          <div class="col">
            <button type="submit" class="btn btn-outline-info">Guardar</button>
            <a href="{% url 'Home' %}" type="submit" class="btn btn-outline-warning">Cancelar</a>
          </div>
        </div>

      </div>
     </form>    
    </div>
  </header>
</section>
{% endblock %}