{% extends "ProyectoWebAC/baseII.html" %}

{% load static %}

{% load widget_tweaks %} <!--Biblioteca django-->

{% block content %} 

<!--Head-->
<title>Cierre de caja</title>
<section>
    <header>
        <div class="container-lg mt-3">
            <table class="table mt-4">
              <thead>
                <tr id="subtitulo">
                    <th scope="col"><span>DETALLE DE ARQUEO DE CAJA</span>
                    </th>
                </tr>
              </thead>
            </table>
    
            <form method="post" enctype="multipart/form-data">
                <!-- Token de seguridad para poder crear un nuevo registro -->
                {% csrf_token %}
    
              <table class="table my-3">
                <thead>
                  <tr>

                    <div class="form-group">
                      <th><label for="id" class="txt_negrita">Código Arqueo:</label>
                      <th>{{object.id}}</th>
                    </div>

                    <div class="form-group">
                      <th><label for="caja_id" class="txt_negrita">N° Caja:</label>
                      <th>{{object.caja_id}}</th>
                    </div>

                    <div class="form-group">
                      <th><label for="created" class="txt_negrita">Fecha:</label>
                      <th>{{object.created}}></th>
                    </div>
                       
                  </tr>
                </thead>
              </table>

              <div class="container-lg my-3">
                <table class="table">
                    <thead>
                      <tr>
                        <div class="form-group">
                          <th><label for="cii" class="txt_negrita">Fondo de caja:</label>
                          <th>{{object.cii}}</th>
                        </div>
                      </tr>
                    </thead>
                </table>
              </div>

            
              <table class="table my-1">
                <thead>
                  <tr style="text-align: start;">
                      <th scope="col"><span>Ingresos Percibidos:</span></th>
                  </tr>
                </thead>
              </table>
    
              <table class="table table-bordered border-info my-3" id="tabla-contenido">
                <div class="form-group">
                  <thead>
                    <tr style="width: 600px;">
                        <th scope="col-3" class="form-group" ><label class="txt_negrita">Moneda</label></th>
                        <th scope="col-1" class="form-group" ><label for="ef" class="txt_negrita">Efectivo</label></th>
                        <th scope="col-1" class="form-group" ><label for="tc" class="txt_negrita">T. Crédito</label></th>
                        <th scope="col-1" class="form-group" ><label for="td" class="txt_negrita">T. Débito</label></th>
                        <th scope="col-1" class="form-group" ><label for="pm" class="txt_negrita">Pago Movil</label></th>
                        <th scope="col-1" class="form-group" ><label for="nc" class="txt_negrita">N.Crédito</label></th> 
                        <th scope="col-3" class="form-group" ><label class="txt_negrita">Subtotal</label></th> 
                    </tr>
                  </thead>
                
                  <tbody>
                      <!-- Ingresamos los valores de los ingresos en bolívares -->
                        <tr style="width: 500px;">
                          <td><span>Bolívares:</span></td>
                          <td>{{object.ef}}</td>
                          <td>{{object.td}}</td>
                          <td>{{object.tc}}</td>
                          <td>{{object.pm}}</td>
                          <td>{{object.nc}}</td>
                          <td>{{object.ti_bs}}</td>
                        </tr>
                        <tr style="width: 500px;">
                          <td><span>Dólares:</span></td>
                          <td>{{object.ef}}</td>
                          <td>{{object.td}}</td>
                          <td>{{object.tc}}</td>
                          <td>{{object.pm}}</td>
                          <td>{{object.nc}}</td>
                          <td>{{object.ti_usb}}</td>
                        </tr>
                        <tr style="width: 500px;">
                            <td><span>Euros:</span></td>
                            <td>{{object.ef}}</td>
                            <td>{{object.td}}</td>
                            <td>{{object.tc}}</td>
                            <td>{{object.pm}}</td>
                            <td>{{object.nc}}</td>
                            <td>{{object.ti_eur}}</td>
                        </tr>
                    </tbody>
                </div>
              </table>

              <div class="container-lg my-3">
                <table class="table">
                    <thead>
                      <tr>

                        <div class="form-group">
                          <th><label for="conversion" class="txt_negrita">Conversión Dólares (Bs):</label>
                          <th>{{object.conversion}}</th>
                        </div>

                        <div class="form-group">
                          <th><label for="conversion" class="txt_negrita">Conversión Euros (Bs):</label>
                          <th>{{object.conversion}}</th>
                        </div>

                        <div class="form-group">
                          <th><label for="cif" class="txt_negrita">Total Ingresos (Bs:)</label>
                          <th>{{object.cif}}</th>
                        </div>

                      </tr>
                    </thead>
                </table>
              </div>

              <div class="container-lg my-3">
                <table class="table">
                    <thead>
                        <tr>
                          <div class="form-group">
                            <th><label for="sg" class="txt_negrita">Gastos:</label>
                            <th>{{object.sg}}</th>
                          </div>

                          <div class="form-group">
                            <th><label for="dt" class="txt_negrita">Devoluciones o Descuentos:</label>
                            <th>{{object.dt}}</th>
                          </div>
                          
                        </tr>
                    </thead>
                </table>
              </div>

              <div class="container-lg my-3">
                <table class="table">
                    <thead>
                      <tr>

                        <div class="form-group">
                          <th><label for="vd" class="txt_negrita">Venta del día:</label>
                          <th>{{object.vd}}</th>
                        </div>

                        <div class="form-group">
                          <th><label for="vd" class="txt_negrita">Faltante:</label>
                          <th>{{object.vd}}</th>
                        </div>

                        <div class="form-group">
                          <th><label for="vd" class="txt_negrita">Sobrante:</label>
                          <th>{{object.vd}}</th>
                        </div>

                      </tr>
                    </thead>
                </table>
              </div>

              <div class="container-lg my-3">
                <table class="table">
                    <thead>
                      <tr style="width: auto;">

                        <div class="form-group">
                          <th><label for="nota" class="txt_negrita">Observaciones</label>
                          <th>{{object.nota}}</th>
                        </div>

                      </tr>
                    </thead>
                </table>
              </div>

              <div class="container-lg my-2">
                <table class="table">
                    <thead>
                      <tr>
                        <th style="text-align: start;">
                          <input type="file" style="width: auto">
                        </th>
                      </tr>
                    </thead>
                </table>
              </div>
            </form>
          </div>
          
        <div align="center" class="btn_crear my-3">
            <button type="submit" class="btn btn-success">Guardar registro</button>
            <a href="./" type="submit" class="btn btn-danger">Cancelar</a>
        </div>
        
          </div>
          </header>
        </section>
  {% endblock %}