
body{
    background: linear-gradient(rgba(14, 6, 4, 0.82), rgba(14, 6, 4, 0.82)), url("../img/Fondo.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#logo{
    padding-left: 45px;
}

#usuario span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.95em;
    font-weight: bold;
    color: rgb(242, 242, 242);
}

.navbar{
    background: linear-gradient(rgba(27, 147, 216, 0.65), rgba(27, 147, 216, 0.65));
}

.dropdown-menu{
    background: linear-gradient(rgba(27, 147, 216, 0.65), rgba(27, 147, 216, 0.65));
}

.nav-link{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 0.9em;
    color: rgb(242, 242, 242);
}

.nav-link:hover{
    color: black;
}

.dropdown-item{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 0.8em;
    color: rgb(242, 242, 242);
}

#identificador{
    background: linear-gradient(rgba(27, 147, 216, 0.65), rgba(27, 147, 216, 0.65));
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 0.90em;
    color: rgb(242, 242, 242);
}

.table{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 0.9em;
    color: rgb(242, 242, 242);
} 

.table th{
    background: linear-gradient(rgba(27, 147, 216, 0.65), rgba(27, 147, 216, 0.65));
}

#table td{
    background: linear-gradient(rgba(66, 141, 173, 0.404), rgba(66, 108, 128, 0.404));
}

#queryset th{
    background: linear-gradient(rgba(4, 167, 236, 0.404), rgba(4, 167, 236, 0.404));
}

#reportes td{
    background: linear-gradient(rgba(66, 141, 173, 0.404), rgba(66, 108, 128, 0.404));
    font-size: 0.85em;
}

#etiqueta{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.98em;
    font-weight: bold;
    color: rgb(242, 242, 242);
}

#aviso{
    background: linear-gradient(rgba(242, 245, 73, 0.785), rgba(242, 245, 73, 0.785));
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: bold;
    color: rgb(0, 0, 0);
    width: 1250px;
    align-items: center;
}

#texto{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 0.9em;
}

#pie{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:1.0em;
    text-align: center;
    color: rgb(242, 242, 242);  
}





.form-control{
    text-align: center;
    width: 120px;
    height: 30px;
}


#contactoFormulario{
    background: linear-gradient(rgba(27, 147, 216, 0.65), rgba(27, 147, 216, 0.65));
    border:1px rgb(242, 242, 242) solid;
    width: 530px;
    height: 420px;
}





