
body{
    background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("../img/Fondo.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#logo{
    padding-left: 40px;
}

#usuario span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    color: rgb(244, 247, 249);
}

.navbar{
    background: linear-gradient(rgba(27, 147, 216, 0.65), rgba(27, 147, 216, 0.65));
    border:2px rgb(248, 244, 244) solid;
    border-radius: 5px;
}

.dropdown-menu{
    background: linear-gradient(rgba(27, 147, 216, 0.65), rgba(27, 147, 216, 0.65));
}

.nav-link,
.dropdown-item{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 0.95em;
    color: rgb(243, 246, 247);
}

.nav-link:hover{
    color: black;
}

.container-sm{
    background: linear-gradient(rgba(27, 147, 216, 0.65), rgba(27, 147, 216, 0.65));
    border-radius: 3px;
}

#subtitulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    color: rgb(247, 242, 242);
}

.table{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 0.94em;
    color: rgb(247, 242, 242);
} 

#tabla-fecha,
#tabla-tasa{
    width: 250px;
    float: right;
}

#tabla-tasa span{
    padding-left: 7px;
}

#tabla-tienda,
#tabla-aviso{
    width: 1000px;
}

#tabla-tienda th,
#tabla-inventario th{
    background: linear-gradient(rgba(27, 147, 216, 0.65), rgba(27, 147, 216, 0.65));
    color: rgb(247, 242, 242);
}

#tabla-aviso th{
    background: linear-gradient(rgba(238, 81, 81, 0.65), rgba(238, 81, 81, 0.65));
    color: rgb(247, 242, 242);
}


#formulario{
    background: linear-gradient(rgba(27, 147, 216, 0.65), rgba(27, 147, 216, 0.65));
    border:2px rgb(248, 244, 244) solid;
    border-radius: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(7, 7, 7);
    font-weight: bold;
    padding-right:12px; 
}

.btn:hover{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(0, 9, 13);
    cursor: pointer;
}

#pie{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(213, 239, 247);
    text-align: center;
    font-size:1.0em;
}

#pieprincipal p{
    margin-top:auto;
}

#piesecundario small{
    padding-top: 5px;
    padding-bottom: 6px;
}


