
.navbar{
    background: linear-gradient(rgba(27, 147, 216, 0.65), rgba(27, 147, 216, 0.65));
    border:2px rgb(248, 244, 244) solid;
    /*border-radius: 20px;*/
    /*width: 800px;*/
    margin: 30px auto;
}

.nav-menu{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.nav-item{
    display: inline;
    padding: 10px 20px;
}

.contenedor{
    border:2px rgb(251, 248, 248) solid;
    border-radius: 20px;
    width: 1350px;
    margin: 20px auto;
}

.cuadro-item{
    background: linear-gradient(rgba(27, 147, 216, 0.65), rgba(27, 147, 216, 0.65));
    border:2px rgb(10, 0, 0) solid;
    border-radius: 20px;
    width: 350px;
    height: 250px;
    margin: 15px 45px;
    display:inline-table;
}

.item{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 25px;
}

.item h3{
    color: rgb(0, 0, 0);
    text-align: center;
    text-transform: uppercase;
}

.item p{
    font-weight: bold;
    color: white;
}

input{
    width: 300px;
    background-color: rgb(104, 200, 244);

}

    








