
{% extends "ProyectoWebAC/baseII.html" %}

{% load static %} <!-- formato CSS -->

{% load widget_tweaks %} <!--Biblioteca django-->

{% block content %} 

<!--Head-->
<title>Inventario detalle</title>

<section>
  <header>

    <div class="container-lg mt-3">

      <table class="table mt-4">
        <thead>
          <tr id="subtitulo">
              <th scope="col"><span>DETALLE DE INVETARIO POR VENTAS</span>
              </th>
          </tr>
        </thead>
      </table>
    </div>
    
    <div class="container-lg mt-5">
        <div class="form-group">
          <table class="table table-bordered border-info my-3">
            <thead>
              <tr id="tabla-identificador">
                <th><label for="calzados" class="txt_negrita">Código inventario N°</label></th>
                <th><label for="calzados" class="txt_negrita">Código venta N°</label></th>
                <th><label for="calzados" class="txt_negrita">Fecha creación</label></th>
                <th><label for="calzados" class="txt_negrita">Fecha modificación</label></th>
                <th><label for="calzados" class="txt_negrita">Calzados (Pares)</label></th>
                <th><label for="ropa" class="txt_negrita">Prendas (Unidades)</label></th>
                <th><label for="accesorios" class="txt_negrita">Accesorios (Unidades)</label></th>
                <th><label for="accesorios" class="txt_negrita">Total piezas</label></th>
                <th><label for="calzados" class="txt_negrita">Procesado</label></th>
              </tr>
            </thead>
            <tbody>
              <!-- Ingresamos los valores de los ingresos en bolívares -->
              {% for Inventario in Inventarios %}
                <tr style="width: 500px;">
                  <td>{{Inventario.id}}</td>
                  <td></td>
                  <td>{{Inventario.created}}</td>
                  <td>{{Inventario.update}}</td>
                  <td>{{Inventario.calzados}}</td>
                  <td>{{Inventario.ropa}}</td>
                  <td>{{Inventario.accesorios}}</td>
                  <td>{{Inventario.piezas}}</td>
                  <td>{{Inventario.procesado}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </form>
   
    <div align="left" class="btn_crear my-3">
      <a href="{% url 'Inventario' %}" type="submit" class="btn btn-info">Volver</a>
      <a href="editar/{{inventario_ventas.id}}" title="Editar" type="button" class="btn btn-success">Editar </a>
    </div>

  </header>
</section>


{% endblock %}