{% extends "ProyectoWebAC/baseII.html" %}

{% load static %}

{% block content %} 

<!--Head-->
<title>Informes</title>
<section>
    <header>
      <div class="container">
        <ul class="nav nav-tabs my-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Cierres contables</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ingresos percibidos</a>
          </li>
        </ul>
      </div>

      <div class="container-lg mt-2">
        <table class="table my-1">
          <thead>
            <tr>
              <th style="text-align:start;">
                <form action="buscar_fecha" method="get" autocomplete="off">
                  {% csrf_token %}
                  <label>Fecha:</label>
                  <input type="date" name="fecha" required>&nbsp;
                  <button type="submit" class="btn btn-info" style="padding-left: 20px;">Generar informe</button>
                </form>
              </th>
            </tr>
          </thead>
        </table>
      </div>

      <div class="container-lg">
        <table class="table mt-3">
          <thead>
            <tr id="subtitulo">
              <th scope="col">
                <label>Resultados:</label>
              </th>
            </tr>
          </thead>
        </table>
      </div>

      <div class="container-lg">
        <table class="table table-bordered my-3">
          <thead>
            <tr class="bg-success">
              <th width="20%">Tiendas</th>
              <th width="10%">Fecha</th>
              <th width="10%">N° Arqueo</th>
              <th width="10%">N° Caja</th>
              <th width="15%">Tasa ($)</th>
              <th width="15%">Tasa (E)</th>
              <th width="20%">Total cierre (Bs)</th>
            </tr>
          </thead>
      </table>
    </header>
</section>  
{% endblock %}