
{% extends "ProyectoWebAC/baseII.html" %}

{% load static %}

{% block content %} 

<!--Head-->
<title>Cierre de caja</title>
<section>
    <header>
      <div class="container-lg mt-3">
          <table class="table mt-3">
            <thead>
              <tr id="subtitulo">
                  <th scope="col"><span>CONTROL DE INGRESOS Y VENTAS</span></th>
              </tr>
            </thead>
          </table>
      </div>

      <form action="buscar" method="get" autocomplete="off">
        {% csrf_token %}
        <div class="container-lg mt-3">
          <table class="table my-3">
            <thead>
              <tr>
                <th style="text-align: left;">

                  <label>Código Venta N°:</label>
                  <input type="text" name="registro" placeholder="Ingrese código" autofocus>
                  <button type="submit" class="btn btn-info" style="padding-left: 20px;">Buscar</button>

                </th>
              </tr>
            </thead>
          </table>
        </div>
      </form>

      <div class="container-lg mt-3">
        <table class="table table-bordered border-info my-3">
          <thead>
            <tr id="tabla-identificador">
              <th>Código venta N°:</th>
              <th>Fecha:</th>
              <th>Caja N°:</th>
              <th>Total ventas Bs:</th>
              <th>Procesado:</th>
            </tr>
          </thead>
          
          <tbody>
          <!-- Recorremos los registros de la tabla 'arqueo' y los mostramos -->
          {% for ventas in object_list %}
            <tr>
              <td>{{ventas.id}}</td>
              <td>{{ventas.created}}</td>
              <td>{{ventas.caja_id}}</td>
              <td>{{ventas.tif}}</td>
              <td>{{ventas.procesado}}</td>
             </tr>
           {% endfor %}
          </tbody>
        </table>

        <div align="left" class="btn_crear mb-2">
          <a href="nuevo" type="button" class="btn btn-success">Registrar Venta</a>
        </div>    
      </div>
    </header>
</section>
{% endblock %}