
{% extends "ProyectoWebAC/baseII.html" %}

{% load static %}

{% load widget_tweaks %} <!--Biblioteca django formulario-->

{% block content %} 

<!--Head-->
<title>Ingreos de ventas</title>
<section>
    <header>
        <div class="container-lg mt-3">
            <table class="table mt-2">
              <thead>
                <tr id="subtitulo">
                    <th scope="col"><span>NUEVO REGISTRO DE VENTA</span>
                    </th>
                </tr>
              </thead>
            </table>
    
            <form method="post" enctype="multipart/form-data" autocomplete="off">
                <!-- Token de seguridad para poder crear un nuevo registro -->
              {% csrf_token %}
    
              <table class="table table-bordered border-info" my-3>
                <thead>
                  <div class="form-group">
                    <tr id="tabla-identificador">
                      <th>
                        <label for="tienda_id" class="txt_negrita">Tienda:</label>&nbsp;
                      </th>
                      <th>
                        <label for="caja_id" class="txt_negrita">Caja N°:</label>&nbsp;
                      </th>
                      <th>
                        <label for="tasa_id" class="txt_negrita">Tasa:</label>&nbsp;
                      </th>
                      <th>
                        <label for="created" class="txt_negrita">Fecha:</label>&nbsp;
                      </th>
                    </tr>

                    <tr>
                      <th style="width: 250px;">
                        <!--
                        <label style="width: 150px;">{{form.tienda_id|add_class:"form-control"}}</label>-->
                        <input id="tienda_id" type="text" style="width: 450px;">
                      </th>

                      <th style="width: 80px;">
                        <!--
                        <label>{{form.caja_id|add_class:"form-control"}}</label>-->
                        <input id="caja_id" type="text" style="width: 100px;">
                      </th>

                      <th style="width: 80px;">
                        <!--
                        <label>{{form.tasa_id|add_class:"form-control"}}</label>-->
                        <input id="tasa_id" type="text" style="width: 100px;">
                      </th>

                      <th style="width: 100px;">
                        <!--
                        <label>{{form.created|add_class:"form-control"}}</label>-->
                        <input id="created_id" type="text" style="width: 200px;">
                      </th>
                    </tr>
                  </div>
                </thead>
              </table>

            
              <table class="table my-1">
                <thead>
                  <tr style="text-align: start;">
                    <th scope="col"><span>Efectivo y transacciones percibidas:</span></th>
                  </tr>
                </thead>
              </table>
    
              <table class="table table-bordered border-info my-3" id="tabla-identificador">
                  <thead>
                    <tr style="width: 500px;">
                      <th><label class="txt_negrita">Moneda</label></th>
                      <th><label class="txt_negrita">Efectivo</label></th>
                      <th><label class="txt_negrita">T. Crédito</label></th>
                      <th><label class="txt_negrita">T. Débito</label></th>
                      <th><label class="txt_negrita">Pago Movil</label></th>
                      <th><label class="txt_negrita">N.Crédito</label></th> 
                      <th><label class="txt_negrita">Total moneda</label></th> 
                    </tr>
                  </thead>

                  <tbody>
                    <!-- Ingresamos los valores de los ingresos en bolívares -->
                   <tr style="width: 500px;">
                      <td><span>Bolívares:</span></td>
                      <td style="width: 60px;">
                        <div class="form-group">
                          <!--<label for="ef_bs">{{form.ef_bs|add_class:"form-control"}}</label>-->
                          <input id="ef_bs" type="text" style="width: 180px; height: 30px;">
                        </div>
                      </td>

                      <td>
                        <div class="form-group">
                          <!--<label for="td_bs">{{form.td_bs|add_class:"form-control"}}</label>-->
                          <input id="td_bs" type="text" style="width: 180px; height: 30px;">
                        </div>
                      </td>

                      <td>
                        <div class="form-group">
                          <!--<label for="tc_bs">{{form.tc_bs|add_class:"form-control"}}</label>-->
                          <input id="tc_bs" type="text" style="width: 180px; height: 30px;">
                        </div>
                      </td>

                      <td>
                        <div class="form-group">
                          <!--<label for="pm_bs">{{form.pm_bs|add_class:"form-control"}}</label>-->
                          <input id="pm_bs" type="text" style="width: 180px; height: 30px;">
                        </div>
                      </td>

                      <td>
                        <div class="form-group">
                          <!--<label for="nc_bs">{{form.nc_bs|add_class:"form-control"}}</label>-->
                          <input id="nc_bs" type="text" style="width: 180px; height: 30px;">
                        </div>
                      </td>

                      <td>
                        <div class="form-group">
                          <!--<label for="ti_bs">{{form.ti_bs|add_class:"form-control"}}</label>-->
                          <input id="ti_bs" type="text" style="width: 180px; height: 30px;">
                        </div>
                      </td>
                    </tr>
                  </tbody>
                  
                  <tbody>
                    <!-- Ingresamos los valores de los ingresos en dólares -->
                    <tr style="width: 500px;">
                      <td><span>Dólares:</span></td>

                      <td>
                        <div class="form-group">
                          <!--<label for="ef_usd">{{form.ef_usd|add_class:"form-control"}}</label>-->
                          <input id="ef_usd" type="text" style="width: 180px; height: 30px;">
                        </div>
                      </td>

                      <td>
                        <div class="form-group">
                          <!--<label for="td_usd">{{form.td_usd|add_class:"form-control"}}</label>-->
                          <input id="td_usd" type="text" style="width: 180px; height: 30px;">
                        </div>
                      </td>

                      <td>
                        <div class="form-group">
                          <!--<label for="tc_usd">{{form.tc_usd|add_class:"form-control"}}</label>-->
                          <input id="tc_usd" type="text" style="width: 180px; height: 30px;">
                        </div>
                      </td>

                      <td>
                        <div class="form-group">
                          <!--<label for="pm_usd">{{form.pm_usd|add_class:"form-control"}}</label>-->
                          <input id="pm_usd" type="text" style="width: 180px; height: 30px;">
                        </div>
                      </td>

                      <td>
                        <div class="form-group">
                          <!--label for="nc_usd">{{form.nc_usd|add_class:"form-control"}}</label>-->
                          <input id="nc_usd" type="text" style="width: 180px; height: 30px;">
                        </div>
                      </td>

                      <td>
                        <div class="form-group">
                          <!--<label for="ti_usd">{{form.ti_usd|add_class:"form-control"}}</label>-->
                          <input id="ti_usd" type="text" style="width: 180px; height: 30px;">
                        </div>
                      </td>
                    </tr>
                  </tbody>
              </table>

              <div class="container-lg my-3">
                <table class="table table-bordered border-info" id="tabla-identificador">
                  <tbody>
                    <tr>
                      <div class="form-group">
                        <th style="width: 400px;">
                          <label for="conversion_usd" class="txt_negrita">Total conversión Dólares (Bs):</label>
                          <!--<label>{{form.conversion_usd|add_class:"form-control"}}</label>-->
                          <input id="conversion_usd" type="text" style="width: 220px; height: 30px;">
                        </th>
                      </div>

                      <div class="form-group">
                        <th style="width: 400px;">
                          <label for="tif" class="txt_negrita">Total ventas (Bs):</label>
                          <!--<label>{{form.tif|add_class:"form-control"}}</label>-->
                          <input id="ef_tif" type="text" style="width: 220px; height: 30px;">
                        </th>
                      </div>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="container-lg my-3">
                <table class="table table-bordered border-info" id="tabla-identificador">
                  <tbody>
                    <tr>
                      <div class="form-group">
                        <th id="tabla-formulario">
                          <label for="nota" class="txt_negrita">Referncias bancarias:</label>
                          <!--<label>{{form.nota|add_class:"form-control"}}</label>-->
                         <textarea id="nota" rows="2" cols="100"></textarea>
                        </th>
                      </div>
                    </tr>
                  </tbody>
                </table>
              </div>
              
              <div align="left" class="btn_crear my-3">
                <button type="submit" class="btn btn-success">Guardar</button>
                <a href="./" type="submit" class="btn btn-danger">Cancelar</a>
              </div> 
            </form>
          </div>
    </header>
</section>
{% endblock %}