
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    {% load static %}

    <!--Bootstrap-->
    <link href="{% static 'ProyectoWebAC/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Styles -->
    <link href= "{% static 'ProyectoWebAC/css/acceso.css' %}" rel="stylesheet">

</head>

<body>
  <!--Heading-->
    <div class="container text-center my-3">
      <figure><img src="{% static 'ProyectoWebAC/img/Logo.png' %}" style="width: 440px; height: 160px"></figure> 
    </div>

  <!-- Contenido -->
   {% block content %}

     <!-- Contenido cambiante-->

   {% endblock %}

  <!-- Footer --------------------------------------------->
    <footer>
        <div class="container text-white text-expanded" id="pie">
          <div class="container text-center" id="pieprincipal">
              <p><small>Sistema ArqCaj Versión 1.0</small></p>
          </div>
      
          <div class="container text-center" id="piesecundario">
              <p><small>Copyright 2023 / Power by Django /J.L Viema Desing</small></p>
          </div>
        </div>
      </footer>
    
</body>
</html>

