
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    {% load static %}

    <!--Bootstrap-->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Styles -->
        <link href= "{% static 'ProyectoWebAC/css/acceso.css' %}" rel="stylesheet">


</head>
<body>

  <!--Heading-->
  <div class="container my-5" id="titulo">
    <h1 class="site-heading text-center text-white">
      <span class="site-heading-lower">SISTEMA ARQCAJ</span>
    </h1> 
    <h2 class="site-heading text-center text-white">
      <span class="site-heading-upper">La forma más segura de contabilizar tus ventas</span>
    </h2>
  </div>



  <div class="container my-6" id="formato">
    <div class="container my-2" id="logouser">
        <figure><img class="rounded-circle img-thumbnail" src="{% static 'ProyectoWebAC/img/LogouserII.png' %}" style="width: 180px; height: 180px"></figure>
     </div>

     <div class="container my-2" id="formulario">
        <form method="post" action=" ">
            <label>Usuario</label>
            <input type="text" id="usuario" required autofocus placeholder="user">
            <label>Contraseña</label>
            <input type="text" id="contrasena" required placeholder="password">
            <input type="submit" value="Acceder" id="acceso">
        </form>
     </div>
</div>



   <!-- Contenido -->
   {% block content %}

     <!-- Contenido cambiante-->

   {% endblock %}

    <!-- Footer --------------------------------------------->
    <footer>
        <div class="container text-white text-expanded" id="pie">
          <div class="container text-center" id="pieprincipal">
              <p><small>Sistema ArqCaj Versión 1.0</small></p>
          </div>
      
          <div class="container text-center" id="piesecundario">
              <p><small id="piesecundario">Copyright 2023 / Power by Django /J.L Viema Desing</small></p>
          </div>
        </div>
      </footer>
    
</body>
</html>

