
{% extends "ProyectoWebAC/baseII.html" %}

{% load static %}

{% block content %}

<!--Head-->
<title>Home</title>

<!--Heading-->
<section>
    <div class="container-fluid text-center my-4">
        <article>
            <div class="row align-items-center">
                <header>
                    <div class="col-3 col-sm border" id="titulo">
                        <h6>DIVISAS</h6>
                    </div>
                    <div class="col-3 col-sm border" id="contenido">
                        <form method="get" action="">
                            {{form}}
                        </form>
                    </div>
                </header>
            </div>
        </article>

        <article>
            <div class="row align-items-center">
                <header>
                    <div class="col-3 col-sm border" id="titulo">
                        <h6>TIENDA</h6>
                    </div>
                    {% for Tienda in Tiendas %}
                    <div class="col-3 col-sm border" id="contenido">
                        <p><strong>Razón:</strong><span>{{Tienda.razon}}</span></p>
                        <p><strong>RIF / NIF:</strong><span>{{Tienda.rif}}</span></p>
                        <p><strong>Dirección:</strong><span>{{Tienda.direccion}}</span></p>
                        <p><strong>Teléfono:</strong><span>{{Tienda.telf}}</span></p>
                        <p><strong>Redes:</strong><span>{{Tienda.redes}}</span></p>
                        <p><strong>N° de cajas:</strong><span>{{Tienda.n_caja}}</span></p>
                    </div>
                    {% endfor %}
                </header>
            </div>
        </article>

        <article>
            <div class="row align-items-center">
                <header>
                    <div class="col-3 col-sm border" id="titulo">
                        <h6>USUARIO</h6>
                    </div>
                    {% for Usuario in Usuarios %}
                    <div class="col-3 col-sm border" id="contenido">
                        <p><strong>Nombre:</strong><span>{{Usuario.nombre}}</span></p>
                        <p><strong>Apellido:</strong><span>{{Usuario.apellido}}</span></p>
                        <p><strong>Cedula de identidad:</strong><span>{{Usuario.ci}}</span></p>
                        <p><strong>Cargo:</strong><span>{{Usuario.cargo}}</span></p>
                    </div>
                    {% endfor %}
                </header>
            </div>
        </article>
    </div>
</header>
</section>

{% endblock %}

  