
{% extends "ProyectoWebAC/baseII.html" %}

{% load static %}

{% block content %}

<!--Head-->
<title>Home</title>

<!--Heading-->
<section>
    <header>
        <div class="container-sm  text-center my-4">
            <table class="table" id="tabla-fecha">
                <thead>
                    <tr>
                        <th scope="col" class="table-primary">FECHA DE HOY</th>
                    </tr>
                    <tr>
                        {% for Divisa in Divisas %}
                            <th scope="col"><span>{{Divisa.created}}</span></th>
                        {% endfor %}
                    </tr>        
                </thead>
            </table>
        </div>

        <div class="container-md text-center my-3">
            <table class="table table-bordered border-info my-5" id="tabla-tienda">
                <thead>
                    <tr>
                        <th scope="col"><span>Código tienda</span></th>
                        <th scope="col"><span>Razón social</span></th>
                        <th scope="col"><span>Rif / Nif</span></th>  
                        <th scope="col"><span>Gerente</span></th>
                        <th scope="col"><span>Subgerente</span></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Recorremos los registros de la tabla 'inventario_ventas' y los mostramos -->
                    {% for Tienda in Tiendas %}
                        <tr>
                            <td>{{ Tienda.id }}</td>
                            <td>{{ Tienda.razon}}</td>
                            <td>{{ Tienda.rif}}</td>
                            <td>{{ Tienda.created}}</td>
                            <td>{{ Tienda.created}}</td>
                    {% endfor%}
                        </tr>
                </tbody>
            </table>
        </div>

        <div class="container-sm  text-center my-4">
            <table class="table" id="tabla-tasa">
                <thead>
                    <tr>
                        <th scope="col" class="table-success">BCV</th>
                    </tr>
                    <tr>
                        {% for Divisa in Divisas %}
                            <th scope="col">USD $:<span>{{Divisa.tasaDolar}}</span></th>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for Divisa in Divisas %}
                            <th scope="col">Euros E:<span>{{Divisa.tasaDolar}}</span></th>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for Divisa in Divisas %}
                            <td>{{Divisa.created}}</td>
                        {% endfor %}
                    </tr>                   
                </thead>
            </table>
        </div>


        <div class="container-md text-center my-3">
            <table class="table table-bordered border-info my-5" id="tabla-tienda">
                <thead>
                    <tr>
                        <th scope="col"><span>Teléfonos</span></th>
                        <th scope="col"><span>Redes</span></th>
                        <th scope="col"><span>Dirección</span></th>  
                    </tr>
                </thead>
                <tbody>
                    <!-- Recorremos los registros de la tabla 'inventario_ventas' y los mostramos -->
                    {% for Tienda in Tiendas %}
                        <tr>
                            <td>{{ Tienda.telf }}</td>
                            <td>{{ Tienda.redes}}</td>
                            <td>{{ Tienda.direccion}}</td>
                    {% endfor%}
                        </tr>
                </tbody>
            </table>
        </div>

        <div class="container-md text-center my-3">
            <table class="table table-bordered border-info my-5" id="tabla-aviso">
                <thead>
                    <tr>
                        <th scope="col"><span>AVISOS</span></th> 
                    </tr>
                </thead>
                <tbody>
                    <!-- Recorremos los registros de la tabla 'inventario_ventas' y los mostramos -->
                    {% for Tienda in Tiendas %}
                        <tr>
                            <td>{{ Tienda.telf }}</td>
                    {% endfor%}
                        </tr>
                </tbody>
            </table>
        </div>


        
        
    </header>
</section>

{% endblock %}

  