
{% extends "ProyectoWebAC/baseII.html" %}

{% load static %}

{% load widget_tweaks %} <!--Biblioteca django-->

{% block content %}

<!--Head-->
<title>Home</title>

<!--Heading-->
<section>
    <header>
        <div class="container my-4">
            <table class="table">
                <thead>
                    <tr>
                        <th style="text-align: start;"><span>TIENDA:</span></th>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="container-lg text-center my-3">
            <table class="table table-bordered border-info my-2" id="tabla-contenido">
                <thead>
                    <tr>
                        <th scope="col"><span>Código</span></th>
                        <th scope="col"><span>Razón social</span></th>
                        <th scope="col"><span>Rif </span></th>  
                        <th scope="col"><span>Dirección</span></th>
                        <th scope="col"><span>telefóno</span></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Recorremos los registros de la tabla 'inventario_ventas' y los mostramos -->
                    {% for Tienda in Tiendas %}
                        <tr>
                            <td>{{Tienda.id }}</td>
                            <td>{{Tienda.razon}}</td>
                            <td>{{Tienda.rif}}</td>
                            <td>{{Tienda.direccion}}</td>
                            <td>{{Tienda.telf}}</td>
                        </tr>
                    {% endfor %}   
                </tbody>
            </table>
        </div>

        <div class="container my-4">
            <table class="table">
                <thead>
                    <tr>
                        <th style="text-align: start;"><span>ÚLTIMOS CIERRES PROCESADOS:</span></th>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="container-md text-center my-3">
            <table class="table table-bordered border-info my-2" id="tabla-contenido">
                <thead>
                    <tr>
                        <th scope="col-2"><span>Fecha</span></th>
                        <th scope="col-3"><span>Código Arqueo</span></th>
                        <th scope="col-3"><span>Total Ventas</span></th>   
                    </tr>
                </thead>
                <tbody>
                    <!-- Recorremos los registros de la tabla 'inventario_ventas' y los mostramos -->
                    {% for Arq in Arqs %}   
                        <tr>
                            <td>{{Arq.created}}</td>
                            <td>{{Arq.id}}</td>
                            <td>{{Arq.vd}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <table class="table table-bordered border-info my-2" id="tabla-contenido">
                <thead>
                    <tr>
                        <th scope="col-2"><span>Fecha</span></th>
                        <th scope="col-3"><span>Código Inventario</span></th>
                        <th scope="col-3"><span>Piezas vendidas</span></th>   
                    </tr>
                </thead>
                <tbody>
                    <!-- Recorremos los registros de la tabla 'inventario_ventas' y los mostramos -->
                    {% for Inventario in Inventarios %}
                        <tr>
                            <td>{{Inventario.created}}</td>
                            <td>{{Inventario.id}}</td>
                            <td>{{Inventario.piezas}}</td>
                        </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </div>

        <div class="container my-4">
            <table class="table">
                <thead>
                    <tr>
                        <th style="text-align: start;"><span>COMUNICADOS:</span></th>
                    </tr>
                </thead>
            </table>
        </div>
  
    </header>
</section>

{% endblock %}

  