
{% extends "ProyectoWebAC/baseI.html" %}

{% load static %}

{% block content %}

<!--Heading-->

    <div class="container">

        <article id="identificacion">
            <h1>Sistema ArqCaj</h1>
            <h2><em>La forma más comoda y segura de contabilizar tus ventas</em></h2>
        </article>

    </div>

    <div class="container mt-6" id="formato">

        <div id="logouser">
            <figure><img class="rounded-circle img-thumbnail" src="{% static 'ProyectoWebAC/img/LogouserII.png' %}" style="width: 180px; height: 180px;"></figure>
        </div>

        <br>
        <br>

        <form action="#" id="formulario">
            <label class="form-label">Usuario</label>
            <input class="form-control-sm m-1" type="text">
            <br>
            <label class="form-label">Contraseña</label>
            <input class="form-control-sm m-1" type="text">
        </form>
       
    </div>



{% endblock %}